
 * {
    margin: 0;
    padding: 0;
    font-family:"Roboto Serif", serif;
  font-weight: 400;
  font-style: normal;
 }


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    color: #f2f2f2;
}

.container {
    text-align: center;
    margin: 50px auto;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

input, button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f2f2f2;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #151912;
	 overflow-x: hidden;
}

.content {
    width: 100vw;
    font-family: 'Times New Roman', serif;
}


.section {
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF6F7;
    text-align: center;
}

.section > div {
    width: 90%;
}

.section:nth-child(1) {
    font-size: 20vh;
}

@media (max-width: 600px) {
    .section:nth-child(1) {
        font-size: 25vw;
    }
}

@media (max-width: 350px) {
    .section:nth-child(1) {
        font-size: 30px;
    }
}

.section:nth-child(2) {
    font-size: 10vh;
}

.section:nth-child(3) {
    font-size: 8vh;
}

.section:nth-child(2) > div {
    max-width: 800px
}

.section:nth-child(3) > div {
    max-width: 900px
}

@media (max-width: 750px) {
    .section:nth-child(2),
    .section:nth-child(3) {
        font-size: 9vw;
    }
}

.section:nth-child(3) a {
    padding: 0 .3em;
}

canvas#neuro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    opacity: .95;
}

.completado {
    text-decoration: line-through;
    opacity: 0.5;
}
.btn-completar {
    /* Estilo para el botón de completar */
    padding: 5px;
    border: none;
    background-color: #e0e0e0;
    border-radius: 3px;
    cursor: pointer;
}

